.advantages {
  position: relative;
  min-height: 562px;
  display: block;
  margin-bottom: 110px;
  padding: 120px 0 100px;
  background: url("../img/bg/bg-advantages@1x.jpg") no-repeat center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg/bg-advantages@2x.jpg");
    background-size: 100% 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $bg-1;
    width: 100%;
    min-height: 562px;
  }
}

.advantages h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -20px;
}

.advantages__list li {
  margin: 0 20px 20px;
}

@media (max-width: 1023px) {
  .advantages {
    min-height: 588px;
    margin-bottom: 90px;
    padding: 90px 30px 80px;
    background: url("../img/bg/bg-advantages-table@1x.jpg") no-repeat center;
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/bg-advantages-table@2x.jpg");
      background-size: 100% 100%;
    }

    &::before {
      min-height: 588px;
    }
  }

  .advantages h2 {
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .advantages {
    min-height: 997px;
    margin-bottom: 55px;
    padding: 60px 20px 40px;
    background: url("../img/bg/bg-advantages-mobile@1x.jpg") no-repeat center;
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg/bg-advantages-mobile@2x.jpg");
      background-size: 100% 100%;
    }

    &::before {
      min-height: 997px;
    }
  }

  .advantages h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .advantages__list li {
    margin: 0 10px 30px;
  }
}
