.catalog {
  margin-bottom: 90px;
}

.catalog h2 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

.catalog__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 1023px) {
  .catalog {
    margin-bottom: 70px;
  }

  .catalog h2 {
    font-size: 26px;
    line-height: 1.4;
  }

  .catalog__cards {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .catalog {
    margin-bottom: 35px;
  }

  .catalog h2 {
    margin-bottom: 33px;
    font-size: 24px;
  }
}
