.menu-footer__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.menu-footer__list li {
  margin: 10px 0 10px 34px;
}

.menu-footer__link {
  display: block;
  font-weight: 500;
  line-height: 1.3;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 1023px) {
  .menu-footer__list li {
    margin: 10px 0 10px 24px;
  }

  .menu-footer__link {
    font-size: 12px;
    line-height: 1.2;
  }
}

@media (max-width: 767px) {
  .menu-footer__list {
    margin: 0 0 10px 0;
    flex-direction: column;
  }

  .menu-footer__list li {
    margin: 0 0 18px 0;
  }
}
